/* === Warp Datepicker: Main Wrapper === */
/*
.w-datepicker {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 320px;
  font-family: var(--w-font-family, sans-serif);
}
@import './w-datepicker-input.css';
@import './w-datepicker-popover.css';
@import './w-datepicker-month.css';
@import './w-datepicker-day.css';
@import './w-datepicker-nav.css';
*/

.w-dropdown__popover {
  position: absolute;
  width: max-content;
  margin-top: 0.5rem;
  background-color: var(--w-s-color-background);
  box-shadow: var(--w-shadow-s);
  z-index: 100;
  border-radius: 8px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  visibility: hidden;
}
.w-dropdown__popover--open {
  visibility: visible;
}
