/* === Day Cell === */
.w-datepicker__day {
  --_day-color: var(--day-color, var(--w-s-color-text));
  --_day-background: var(--day-background, transparent);
  --_day-width: var(--day-width, 40px);
  --_day-height: var(--day-height, 40px);
  --_day-padding: var(--day-padding, 0px);
  --_day-font-weight: var(--day-font-weight, bold);
  --_day-border-radius: var(--day-border-radius, 50%);

  --_day-in-range-background: var(--day-in-range-background, var(--w-s-color-background-primary-subtle-active));

  text-align: center;
  cursor: pointer;
  outline: none;
  position: relative;

  color: var(--_day-color);
  background-color: var(--_day-background);
  width: var(--_day-width);
  height: var(--_day-height);
  padding: var(--_day-padding);
  font-weight: bold;
  border-radius: var(--_day-border-radius);
}

.w-datepicker__day:hover {
  --day-color: var(--w-s-color-icon-hover);
  --day-background: var(--w-color-button-pill-background-hover);
  --day-border-radius: 50%;
}

.w-datepicker__day:focus-visible {
  text-decoration: none;
  outline: 2px solid var(--w-s-color-border-focus);
  outline-offset: var(--w-outline-offset, -2px);
}

/* === Day variants === */
.w-datepicker__day--today {
  --day-color: var(--w-s-color-text-link);
}

.w-datepicker__day--selected {
  --day-background: var(--w-s-color-background-primary);
  --day-color: var(--w-s-color-text-inverted);
}
.w-datepicker__day--selected:hover,
.w-datepicker__day--selected:focus {
  --day-background: var(--w-s-color-background-primary-hover);
}

.w-datepicker__day--disabled,
.w-datepicker__day--disabled:hover {
  --day-color: var(--w-s-color-text-disabled);
  cursor: not-allowed;
  pointer-events: none;
}
