/* === Warp Datepicker: Main Wrapper === */
/*
.w-datepicker {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 320px;
  font-family: var(--w-font-family, sans-serif);
}
@import './w-datepicker-input.css';
@import './w-datepicker-popover.css';
@import './w-datepicker-month.css';
@import './w-datepicker-day.css';
@import './w-datepicker-nav.css';
*/

.w-prefix {
  position: absolute;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  width: max-content;
  justify-content: center;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  align-items: center;
  display: flex;
  border-radius: 0px 4px 4px 0px;
  border-color: var(--w-s-color-border);
  border-width: 1px;
  border-style: solid;
  background-color: var(--w-s-color-background-primary-subtle);
}
input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}