.w-dropdown {
    position: relative;
    display: inline-block;
}

.w-dropdown__popover {
    position: absolute;
    width: max-content;
    margin-top: 0.5rem;
    background-color: var(--w-s-color-background);
    box-shadow: var(--w-shadow-s);
    z-index: 100;
    border-radius: 8px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.w-prefix {
    position: absolute;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    width: max-content;
    justify-content: center;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    align-items: center;
    display: flex;
    border-radius: 4px;
    background-color: transparent;
  }