.w-slider__wrapper {
  display: grid;
  max-width: 100%;
  margin: 8px 0px;
}

.w-slider__input-wrapper {
  grid-row: 1;
  grid-column: 1;
  display: grid;
}

.w-slider__input[type="range"] {
  appearance: none;
  height: 44px;
  grid-row: 1;
  grid-column: 1;
  pointer-events: none;
}

.w-slider__input[type="range"]:focus {
  outline: none;
}

.w-slider__input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 28px;
  height: 28px;
  background-color: var(--w-s-color-background-primary);
  cursor: pointer;
  transform: translateY(-12.5px);
  border-radius: 14px;
  pointer-events: all !important;
}

.w-slider__input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 6px #00000014;
}

.w-slider__input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 8px #00000014;
}

.w-slider__input[type="range"]:focus-visible::-webkit-slider-thumb {
  outline: 2px solid #06befb;
  outline-offset: 1px;
  box-shadow: none;
}

.w-slider__input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: #dedee3;
  box-shadow: none;
  pointer-events: none;
  border-radius: 2px;
}

.w-slider__tooltips {
  width: 100%;
  pointer-events: none;
  grid-row: 1;
  grid-column: 1;
  pointer-events: none;
  display: grid;
  height: 0;
}

.w-slider__tooltips .w-slider__tooltip {
  grid-row: 1;
  grid-column: 1;
  color: white;
  padding: 5px 12px;
  position: fixed;
  text-align: center;
  background-color: #1b1b1f;
  transform: translateY(-39px);
  z-index: 20;
  justify-self: end;
  border-radius: 4px;
}

.w-slider__tooltips svg {
  grid-row: 1;
  grid-column: 1;
  position: fixed;
  z-index: 20;
}

.w-slider__active-track {
  background-color: var(--w-s-color-background-primary);
  height: 6px;
  border-radius: 3px;
  width: 50%;
  pointer-events: none;
  transform: translateY(19px);
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
  pointer-events: none;
  display: grid;
  width: 0px;
}

.w-slider__steps {
  display: grid;
  transform: translateY(-4px);
  grid-auto-flow: column;
  grid-template-columns: max-content;
  justify-items: end;
  color: var(--w-s-color-text-subtle);
  pointer-events: none;
  grid-column: 1;
  align-self: end;
  margin: 0px 11.7px;
  grid-auto-columns: minmax(0, 1fr);
}

.w-slider__steps .w-slider__marker {
  display: grid;
  justify-items: center;
  grid-row-gap: 3.5px;
}

.w-slider__marker-line {
  display: block;
  overflow: hidden;
  width: 4px;
  height: 8px;
  border-radius: 2px;
  background-color: #dedee3;
}

.w-slider__marker-value {
  width: 0;
  overflow: visible;
  display: grid;
  justify-content: center;
}

.w-slider__markervalues {
  display: grid;
  color: var(--w-s-color-text-subtle);
  grid-template-columns: auto auto;
  height: 25.5px;
}
.w-slider__markervalues > div:nth-child(1) {
  justify-self: start;
}
.w-slider__markervalues > div:nth-child(2) {
  justify-self: end;
}

.w-slider__width-check {
  visibility: hidden;
  pointer-events: none;
  z-index: 0;
  width: max-content;
  height: 0px;
}

.w-slider__wrapper-disabled .w-slider__active-track {
  background-color: var(--w-s-color-background-disabled);
}
.w-slider__wrapper-disabled
  .w-slider__input[type="range"]::-webkit-slider-thumb {
  background-color: var(--w-s-color-background-disabled);
}
.w-slider__wrapper-disabled
  .w-slider__input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: none;
}
