.w-expandtransition {
  display: grid;
  grid-template-rows: 0fr;
  transition: 200ms grid-template-rows ease;
}

.w-expandtransition--expanded {
  grid-template-rows: 1fr;
}

.w-expandtransition > div {
  overflow: hidden;
}
